.homePage {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 20px;
  padding: 20px; */
  /* padding-top: 100px; */
   /* Add space for navbar */
  min-height: 100vh;
}

.homePage::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../assets/backgrunds/landscape.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(7px);
  z-index: -1;
}

.islandRow {
  display: flex;
  justify-content: center;
  gap: 40%;
  padding: 20px;
}

.islandRow img {
  width: 25%;
  height: 25%;
  animation: float 3s ease-in-out infinite;
  &:hover {
    transform: scale(1.5);
    transition: transform 0.3s;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.animationRow {
  position: absolute;
  top: 0;
  left: 30%;
  z-index: 3;
}
